* {
    margin: 0;
    padding: 0;
    
}


.contenu {
    display: grid;
    grid-template-columns: 2fr 1fr; 
    gap: 30px;
    margin-top: 20px;
}


.left-side {
    background: white;
    padding: 20px;
    border-radius: 10px;
}

.main-img {
    width: 100%;
    border-radius: 10px;
    height: auto;  
     
   
}

.info .meta {
    display: flex;
    gap: 20px;
    margin: 15px 0;
    color: #6b7280;
}

.right-side {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.tags-box,
.newsletter {
    background: #eef7ff;
    padding: 20px;
    border-radius: 10px;
}

.button-list button {
    display: inline-block;
    padding: 5px 20px;
    border: 2px solid rgb(206, 202, 202);
    background: white;
    color: grey;
    border-radius: 25px;
    font-size: 15px;
    cursor: pointer;

}