* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.features {
	padding: 50px 0;
	text-align: center;
	color: white;
}

.features p {
	font-size: 30px;
	margin-bottom: 30px;
	color: #666;
}

.items {
	display: flex;
	justify-content: center;
	gap: 80px;
	flex-wrap: wrap;
}

.items .item {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
}
